.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.menu__img {
  border-radius: 8px;
  width: 40%;
}

.menu__categories {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.category__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.dish {
  display: grid;
  grid-template:
    'dish-title dish-img' auto
    'dish-description dish-img' 1fr / auto 200px;
  gap: 20px;

  max-width: 900px;
}

.dish__img {
  grid-area: dish-img;
  border-radius: 8px;
  width: 100%;
  order: 2;
}

.dish__title {
  grid-area: dish-title;
}

.dish__description {
  grid-area: dish-description;
}

@media (max-width: 762px) {
  .dish {
    grid-template:
      'dish-title' auto
      'dish-img' auto
      'dish-description' auto / auto;
  }
}
