.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.nav-list__button {
  font-size: 24px;

  padding: 15px 0;
  width: max(10vw, 120px);

  background-color: var(--white);
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-list__button:hover {
  background-color: var(--light-gray);
}

@media (max-width: 440px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-list__button {
    width: 200px;
  }
}
