@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --light-orange: #ffdead;
  --white: #fff;
  --light-gray: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

body {
  background-color: var(--light-gray);
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
  max-width: 75ch;
}

.header {
  background-color: var(--light-orange);
  padding: 50px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.nav-list__button {
  font-size: 24px;

  padding: 15px 0;
  width: max(10vw, 120px);

  background-color: var(--white);
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-list__button:hover {
  background-color: var(--light-gray);
}

@media (max-width: 440px) {
  .header {
    padding: 30px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-list__button {
    width: 200px;
  }
}

/* content */

.content {
  max-width: 1440px;
  padding: 100px 50px;
  margin: 0 auto;
}

@media (max-width: 762px) {
  .content {
    padding: 50px;
  }
}

@media (max-width: 440px) {
  .content {
    padding: 30px;
  }
}

/* title */

.title {
  font-size: 42px;
}

/* homepage */

.homepage {
  display: grid;
  grid-template:
    'title img' auto
    'info img' 1fr
    / 1fr 1fr;
  gap: 25px;
}

.homepage__title {
  grid-area: title;
}

.homepage__info-block {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.homepage__info-text {
  font-size: 24px;
}

.homepage__img {
  grid-area: img;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 762px) {
  .homepage {
    grid-template:
      'title' auto
      'img' auto
      'info' auto
      / 1fr;
  }

  .homepage__title {
    text-align: center;
  }
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.menu__categories {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.category__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.dish {
  display: grid;
  grid-template:
    'dish-title dish-img' auto
    'dish-description dish-img' 1fr / auto 200px;
  gap: 20px;

  max-width: 900px;
}

.dish__img {
  grid-area: dish-img;
  border-radius: 8px;
  width: 100%;
  order: 2;
}

.dish__title {
  grid-area: dish-title;
}

.dish__description {
  grid-area: dish-description;
}

@media (max-width: 762px) {
  .dish {
    grid-template:
      'dish-title' auto
      'dish-img' auto
      'dish-description' auto / auto;
  }
}

/* contacts */

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 70px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 30px;
  border-radius: 8px;
  background-color: var(--light-orange);
}

.contact {
  display: flex;
  justify-content: space-between;

  background-color: var(--white);
  padding: 10px;
  border-radius: 8px;

  min-width: 300px;
}

@media (max-width: 440px) {
  .contacts__list {
    padding: 30px 20px;
  }

  .contact {
    flex-direction: column;
    min-width: unset;
    gap: 5px;
  }
}
