@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

body {
  background-color: #f0f0f0;
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

ul {
  list-style: none;
}

.header {
  background-color: #ffdead;
  padding: 40px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav-list__button {
  font-size: 24px;

  padding: 15px 0;
  width: max(10vw, 100px);

  background-color: #ffffff;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-list__button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 440px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-list__button {
    width: 200px;
  }
}

/* content */

.content {
  max-width: 1440px;
  padding: 100px 50px;
  margin: 0 auto;
}

/* title */

.title {
  font-size: 42px;
}

/* homepage */

.homepage {
  display: grid;
  grid-template:
    'title img' auto
    'info img' 1fr
    / 1fr 1fr;
  gap: 25px;
}

.homepage__title {
  grid-area: title;
}

.homepage__info-block {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.homepage__info-text {
  font-size: 24px;
}

.homepage__img {
  grid-area: img;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 762px) {
  .content {
    padding: 50px;
  }

  .homepage {
    grid-template:
      'title' auto
      'img' auto
      'info' auto
      / 1fr;
  }

  .homepage__title {
    text-align: center;
  }
}
